# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/

# IDE-specific files
.idea/
.vscode/
.project
.pydevproject

# Operating system files
.DS_Store
Thumbs.db

# Database files (if you have local database files)
*.db
*.sqlite
*.sqlite3

# Discord bot-specific
cards_against_humanity.db # Or your specific database filename


# Compiled object files and executables
*.o
*.exe


# Log files (if you create them)
*.log
logs/
log/


# Other temporary files
*.tmp
temp/
tmp/
temp.*
tmp.*



# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore PyCharm's .idea directory
.idea/
